<section class="flex-ns items-center pb2">
    <div class="mw6 ph3">
      <img src="{{.imageUrl}}"> 
    </div>
    <div class="tc tl-ns ph3">
      <h1 class="f2 f1-l b lh-title mb3 mt4 mt0-ns">{{.title}}</h1>
      <h2 class="b f4 di lh-title mb4 mb5-l primary">{{.subtitle}}</h2>
    </div>
    <div class="cms mw6">
<p>I am asking for your number 1 vote on Friday to continue my work:</p>
<ul>

<li>on safe <a href="https://youtube.com/shorts/saEPNkY5514?feature=share">walking</a> and <a href="https://youtube.com/shorts/ZfWkh8Uv8R0?feature=share">cycling</a> for Dublin</li>
<li>on cleaning up our litter strewn streets and <a href="/post/waste-reduction/">tackling dumping</a></li>  
<li>on growing our green spaces and <a href="https://youtube.com/shorts/9ojxPj47OkM?feature=share">bringing nature back into the city</a></li>  
<li>on <a href="https://youtube.com/shorts/5ef6I0T2sOA?feature=share">improving standards in homeless services</a> for those impacted</li>
<li>on supporting inclusion and celebrating the diversity of our city</li>
</ul>


<iframe width="315" height="560" 
src="https://www.youtube.com/embed/IqsA0vnVen4" 
title="YouTube video player" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media;
gyroscope; picture-in-picture;
web-share"
allowfullscreen></iframe>

</div>

  </section>
