{{ define "main" }}

{{ partial "marketing" (dict "imageUrl" .Params.image "title" .Params.pagetitle "text" .Params.text) }}

{{ partial "2-up" (dict "products" .Params.values) }}


<div class="bg-new-magenta-80 pv4">
    <div class="ph3 mw7 center">
      <div class="cms flex-ns mhn2-ns mb3">

        <div class="ph3-m w-50-m order-last-m">
          <img src="/img/janet-flag.png" alt="" class="db mb2">
        </div>
  
        <div class="ph3-m w-50-m">
            <h2 class="f3 b lh-title mb1">A No.1 vote for Janet Horner is a vote for:</h2>
            <ul>
                <li>An affordable city, where everyone has access to a home they can afford and the services they need to live a good life.</li>
               <li>A liveable city, where people can relax and spend time and where we protect the cultural spaces that make our city unique.</li>
                <li>A green city, with more parks, easy access to nature, and climate action that benefits our lives and our communities.</li>  
                <li>A connected city, safe to walk and cycle, with accessible, affordable public transport that’s reliable and serves everyone.</li>
                <li>An inclusive city, where care and equality are at the heart of our communities and we stand together against racism and discrimination.</li>
            </ul>
        </div>
    </div>
</div>


{{ end }}
